<div class="home-banner"  style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)),
  url('assets/banner.jpg')">

  <h1 class="title">
    <div class="fill">CONCRETE </div>
    <div class="empty">PALAIS</div>
  </h1>

</div>
